/* Path: src\components\login.component.ts */
.login {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    margin: 0 auto;
    padding: 20px;
    width: 300px;
}

/* General */
table {
    width: 100%;
}

thead {
    background-color: #ccc;
}

td {
    padding: 5px;
}

/* Tutores */
.edit-user {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    margin: 0 auto;
    padding: 20px;
    width: 300px;
    position: absolute;
    margin-left: 10em;
    margin-top: -10em;
}

.edit-user form {
    margin: 0 auto;
    width: 200px;
}

.edit-user form input {
    margin: 5px 0;
}

.edit-user form button {
    margin: 5px 0;
}